<!-- components/ISSInfo.vue -->
<template>
    <div class="iss-info">
      <h2 class="text-xl font-bold mb-4">{{ title }}</h2>
      <ul>
        <li v-for="(period, index) in displayedSunPeriods" :key="index" class="mb-2">
          {{ index + 1 }} -> {{ period.start_time }} - {{ period.end_time }}
        </li>
      </ul>
      <div v-if="showSeeMoreLink" class="mt-4">
        <a href="http://localhost:8000/iss/sun" class="text-blue-500 font-bold hover:underline">See more info</a>
      </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  
  export default {
    name: "ISSInfo",
    data() {
      return {
        sunPeriods: [],
        maxDisplayedPeriods: 5,
        englishTitle: "Last Sun Exposure Periods",
        defaultTitle: "Sun Exposure Periods",
      };
    },
    computed: {
      displayedSunPeriods() {
        return this.sunPeriods.slice(-this.maxDisplayedPeriods);
      },
      showSeeMoreLink() {
        return this.sunPeriods.length > this.maxDisplayedPeriods;
      },
      title() {
        return this.showSeeMoreLink ? this.englishTitle : this.defaultTitle;
      },
    },
    mounted() {
      this.fetchSunPeriods();
    },
    methods: {
      fetchSunPeriods() {
        axios
          .get("http://localhost:8000/iss/sun")
          .then((response) => {
            this.sunPeriods = response.data;
          })
          .catch((error) => {
            console.error("Error fetching ISS sun periods:", error);
          });
      },
    },
  };
  </script>
  
  <style scoped>
  .iss-info {
    position: absolute;
    bottom: 100px;
    right: 100px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .iss-info a {
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
    color: #3490dc;
    transition: color 0.3s;
  }
  
  .iss-info a:hover {
    color: #2779bd;
    text-decoration: underline;
  }
  </style>
  