<!-- components/ISSMap.vue -->
<template>
  <div ref="map" class="map-container">
    <div class="iss-radar"></div>
    <ISSInfo />
  </div>
</template>

<script>
import "ol/ol.css";
import Map from "ol/Map";
import View from "ol/View";
import TileLayer from "ol/layer/Tile";
import OSM from "ol/source/OSM";
import VectorSource from "ol/source/Vector";
import { Vector as VectorLayer } from "ol/layer";
import Point from "ol/geom/Point";
import { fromLonLat } from "ol/proj";
import Style from "ol/style/Style";
import CircleStyle from "ol/style/Circle";
import Fill from "ol/style/Fill";
import Stroke from "ol/style/Stroke";
import Feature from "ol/Feature";
import axios from "axios";
import ISSInfo from "@/components/ISSInfo.vue"; // Import ISSInfo component

export default {
  name: "ISSMap",
  components: {
    ISSInfo, // Register ISSInfo component
  },
  data() {
    return {
      map: null,
      issLayer: null,
      issPosition: { latitude: 0, longitude: 0 },
    };
  },
  mounted() {
    this.initMap();
    this.updateISSPosition();
    setInterval(() => {
      this.updateISSPosition();
    }, 20000);
  },
  methods: {
    initMap() {
      const view = new View({
        center: [0, 0],
        zoom: 2,
      });

      const osmLayer = new TileLayer({
        source: new OSM(),
      });

      this.issLayer = new VectorLayer({
        source: new VectorSource(),
        style: this.createISSStyle(),
      });

      this.map = new Map({
        target: this.$refs.map,
        layers: [osmLayer, this.issLayer],
        view: view,
      });
    },
    createISSStyle() {
      return [
        new Style({
          image: new CircleStyle({
            radius: 40,
            fill: new Fill({
              color: "transparent",
            }),
            stroke: new Stroke({
              color: "white",
              width: 2,
            }),
          }),
        }),
        new Style({
          image: new CircleStyle({
            radius: 20,
            fill: new Fill({
              color: "gray",
            }),
            stroke: new Stroke({
              color: "white",
              width: 2,
            }),
          }),
        }),
        new Style({
          image: new CircleStyle({
            radius: 12,
            fill: new Fill({
              color: "blue",
            }),
          }),
        }),
      ];
    },
    updateISSPosition() {
      axios
        .get("http://localhost:8000/iss/position")
        .then((response) => {
          const { latitude, longitude } = response.data;
          this.issPosition = { latitude, longitude };
          this.updateISSMarker();
        })
        .catch((error) => {
          console.error("Error fetching ISS position:", error);
        });
    },
    updateISSMarker() {
      const coordinates = fromLonLat([
        this.issPosition.longitude,
        this.issPosition.latitude,
      ]);
      const geometry = new Point(coordinates);
      const feature = new Feature(geometry);
      this.issLayer.getSource().clear();
      this.issLayer.getSource().addFeature(feature);
    },
  },
};
</script>

<style scoped>
.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.iss-radar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  border: 2px solid red;
  animation: radarBlink 1s infinite alternate;
}

@keyframes radarBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
</style>
