<!-- pages/index.vue -->
<template>
  <div>
    <ISSMap />
  </div>
</template>

<script>
import ISSMap from "@/components/ISSMap.vue";

export default {
  components: {
    ISSMap,
  },
};
</script>
